.strokeHeading {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1.4px;
	-webkit-text-stroke-color: white;
	font-family: "Outfit", sans-serif;
}
.titleHeading {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	font-family: "Outfit", sans-serif;
	font-size: 0.9em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.titleHeading:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	border: 2px solid #ffffff4d;
	border-radius: 50%;
}
.textHGradient {
	background: -webkit-linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.heading {
	font-family: "Outfit", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
}
.smallHeading {
	font-family: "Outfit", sans-serif;
	font-size: 0.9em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
}
.borderedBox {
	position: relative;
	z-index: 1;
	border-radius: 0.5em;
	color: rgba(255, 255, 255, 0.7);
	background: #181a1c;
	--bs-bg-opacity: 1;
	background-color: rgba(24, 26, 28, 1);
	padding: 30px;
}
.fancyBorderedBox {
	position: relative;
	z-index: 1;
	border-radius: 0.5em;
	color: rgba(255, 255, 255, 0.7);
	background: #181a1c;
	--bs-bg-opacity: 1;
	background-color: rgba(24, 26, 28, 1);
	padding: 30px;
}
.fancyBorderedBox:before {
	z-index: -1;
	content: "";
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ff82f3;
	background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
	width: 100%;
	height: 100%;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}
.fancyBorderedBox:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #ff82f3;
	background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
	width: 100%;
	height: 2px;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.custom-image-height {
	height: 200px !important; /* Fixed height */
	width: auto !important; /* Width adjusts automatically */
}

.bokeh-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none; /* Prevent interaction with the background */
  }
  
  .bokeh {
	position: absolute;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.2);
	animation: bokeh-animation 20s infinite;
  }
  
  .bokeh:nth-child(1) {
	width: 100px;
	height: 100px;
	top: 20%;
	left: 30%;
	animation-delay: 0s;
  }
  
  .bokeh:nth-child(2) {
	width: 150px;
	height: 150px;
	top: 50%;
	left: 70%;
	animation-delay: 5s;
  }
  
  .bokeh:nth-child(3) {
	width: 80px;
	height: 80px;
	top: 80%;
	left: 20%;
	animation-delay: 10s;
  }
  
  .bokeh:nth-child(4) {
	width: 120px;
	height: 120px;
	top: 10%;
	left: 80%;
	animation-delay: 15s;
  }
  
  .bokeh:nth-child(5) {
	width: 90px;
	height: 90px;
	top: 40%;
	left: 40%;
	animation-delay: 20s;
  }
  
  @keyframes bokeh-animation {
	0% {
	  transform: scale(1);
	  opacity: 0.2;
	}
	50% {
	  transform: scale(1.5);
	  opacity: 0.5;
	}
	100% {
	  transform: scale(1);
	  opacity: 0.2;
	}
  }