.userDetails {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(19, 19, 19, 0.702);
	transition: 0.3s all;
	transform: scaleY(0);
	transform-origin: bottom;
	opacity: 0;
	padding: 40px;
	overflow: auto;
	font-family: "Playfair Display";
}
.userWrapper:hover .userDetails {
	transform: none;
	opacity: 1;
}
