.strokeHeading {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1.4px;
	-webkit-text-stroke-color: white;
	font-family: "Outfit", sans-serif;
}
.titleHeading {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	font-family: "Outfit", sans-serif;
	font-size: 0.9em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.titleHeading:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	border: 2px solid #ffffff4d;
	border-radius: 50%;
}
.textHGradient {
	background: -webkit-linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.heading {
	font-family: "Outfit", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
}
.smallHeading {
	font-family: "Outfit", sans-serif;
	font-size: 0.9em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
}
.borderedBox {
	position: relative;
	z-index: 1;
	border-radius: 0.5em;
	color: rgba(255, 255, 255, 0.7);
	background: #181a1c;
	--bs-bg-opacity: 1;
	background-color: rgba(24, 26, 28, 1);
	padding: 30px;
}
.fancyBorderedBox {
	position: relative;
	z-index: 1;
	border-radius: 0.5em;
	color: rgba(255, 255, 255, 0.7);
	background: #181a1c;
	--bs-bg-opacity: 1;
	background-color: rgba(24, 26, 28, 1);
	padding: 30px;
}
.fancyBorderedBox:before {
	z-index: -1;
	content: "";
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ff82f3;
	background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
	width: 100%;
	height: 100%;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}
.fancyBorderedBox:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #ff82f3;
	background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
	width: 100%;
	height: 2px;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}
