.button {
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	border-radius: 3em;
	padding: 10px 34px 10px 20px;
	color: white;
	font-family: "Outfit", sans-serif;
	font-size: 0.9em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: ease-out 0.12s;
	transition: ease-out 0.12s;
}
.button:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: white;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	-webkit-transition: linear 0.06s;
	transition: linear 0.06s;
}
.button:after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: #ff82f3;
	background-image: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
	width: 100%;
	height: 100%;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}
.button span {
	display: block;
	position: relative;
	color: transparent;
}
.button span:before,
.button span:after {
	content: attr(data-text);
	position: absolute;
	left: 0;
	color: white;
	-webkit-transition: ease-out 0.14s;
	transition: ease-out 0.14s;
}
.button span:before {
	top: 0;
}
.button span:after {
	visibility: hidden;
	opacity: 0;
	top: 100%;
}
.button:hover {
	background: rgba(255, 255, 255, 0.15);
	color: white;
}
.button:hover:before {
	opacity: 0.4;
	-webkit-transform: translateY(-50%) scale(2.7);
	transform: translateY(-50%) scale(2.7);
}
.button:hover:after {
	opacity: 0.2;
}
.button:hover span:before {
	visibility: hidden;
	opacity: 0;
	top: -100%;
}
.button:hover span:after {
	visibility: visible;
	opacity: 1;
	top: 0;
}
.buttonWhite {
	background: white;
	color: black;
}
.buttonWhite:after {
	background: white;
	background-image: none;
}
.button.buttonWhite:before {
	background: black;
}
.buttonWhite span:before,
.buttonWhite span:after {
	color: black;
}
.buttonWhite:hover {
	background: white;
	color: black;
}
